dewey.environment-name          = {{ environment_name }}


dewey.amqp.host                 = {{ amqp.irods.host }}
dewey.amqp.port                 = {{ amqp.irods.port }}
dewey.amqp.user                 = {{ amqp.irods.user }}
dewey.amqp.password             = {{ amqp.irods.password }}
dewey.amqp.exchange.name        = {{ amqp.irods.exchange }}
dewey.amqp.exchange.durable     = {{ amqp.irods.exchange_durable }}
dewey.amqp.exchange.auto-delete = {{ amqp.irods.exchange_auto_delete }}
dewey.amqp.qos                  = 100

dewey.es.host                   = {{ elasticsearch.host }}
dewey.es.port                   = {{ elasticsearch.port }}

dewey.irods.host                = {{ irods.host }}
dewey.irods.port                = {{ irods.port }}
dewey.irods.zone                = {{ irods.zone }}
dewey.irods.user                = {{ irods.user }}
dewey.irods.password            = {{ irods.password }}
dewey.irods.default-resource    = {{ irods.default_resource }}
dewey.irods.home                = {{ irods.home }}

dewey.status.listen-port        = {{ default_service_port }}
