[Unit]
Description=R server
After=syslog.target
After=network.target

[Service]
User={{ rserve_user }}
Group={{ rserve_group }}
ExecStart=/usr/bin/R CMD Rserve --no-gui --no-save
Type=forking

# Give a reasonable amount of time for the server to start up/shut down
TimeoutSec=10

[Install]
WantedBy=multi-user.target
