# role to install docker private registry, requires docker to be installed and configured

- name: install docker-engine
  yum: name=docker-engine state=latest
  tags: docker-registry

- name: create an etc dir for the docker registry
  hosts: docker-registry
  sudo: yes
  file: path={{ docker_repo_target_config_dir }} state=directory state=directory mode=0700
  tags:
      - docker-registry

- name: copy cert public/private key into etc
  hosts: docker-registry
  sudo: yes
  copy: src={{ docker.registry.cert_dir }} dest={{ docker_repo_target_config_dir }} owner=foo group=foo mode=0644
  tags:
        - docker-registry

- name: add docker registry user/passwd
  command: docker run --entrypoint htpasswd registry:2 -Bbn {{ docker.registry.user }} {{ docker.registry.password }} > auth/htpasswd
  tags:
       - docker-registry

- name: make a directory on all docker boxes for cert
# see https://docs.docker.com/registry/insecure/
  file: path=/etc/docker/certs.d/myregistrydomain.com:5000/ state=directory state=directory mode=0755


- name: copy docker registry public key to cert
# see https://docs.docker.com/registry/insecure/
  file: path=/etc/docker/certs.d/myregistrydomain.com:5000/ state=directory state=directory mode=0755
    copy: src={{ docker.registry.cert_dir }} dest=/etc/docker/certs.d/myregistrydomain.com:5000/ owner=root group=root mode=0744


- name: Run docker registry with inline compose
  hosts: docker-registry
  sudo: yes
  tasks:
    - docker_service:
        project_name: registry
        definition:
         registry:
           restart: always
           image: registry:2
           ports:
             - 5000:5000
           environment:
             REGISTRY_HTTP_TLS_CERTIFICATE: /certs/domain.crt
             REGISTRY_HTTP_TLS_KEY: /certs/domain.key
             REGISTRY_AUTH: htpasswd
             REGISTRY_AUTH_HTPASSWD_PATH: /auth/htpasswd
             REGISTRY_AUTH_HTPASSWD_REALM: Registry Realm
           volumes:
             - /path/data:/var/lib/registry
             - {{ docker_repo_target_config_dir }}:/certs
             - /path/auth:/auth

    tags:
      - docker-registry
